# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# -----------------------------
# Model files (VERY IMPORTANT)
# -----------------------------
*.pth
*.pt
*.h5

# -----------------------------
# Temp / Uploaded files
# -----------------------------
temp.*
uploads/
*.mp4
*.webm

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Node / React
# -----------------------------
node_modules/
build/
dist/

# Environment variables
.env
.env.local

# -----------------------------
# VS Code / IDE
# -----------------------------
.vscode/
.idea/